<form #formRef="ngForm">
  <!-- <input type="hidden" name="id" [ngModel]="playlist.id"> -->

  <div class="form-group">
    <label>Name:</label>
    <input
      type="text"
      class="form-control"
      [ngModel]="playlist.name"
      name="name"
      #nameRef="ngModel"
    />
    <span>{{ 255 - nameRef.value?.length }} / 255</span>
  </div>

  <div class="form-group">
    <label>Favorite:</label>
    <input type="checkbox" [ngModel]="playlist.favorite" name="favorite" />
  </div>

  <div class="form-group">
    <label>Color:</label>
    <input type="color" [ngModel]="playlist.color" name="color" />
  </div>

  <input type="button" value="Cancel" (click)="onCancel()" />
  <input type="button" value="Save" (click)="onSave(formRef.value)" />
</form>
