:host(.bordered) p{
  border: 1px solid black;
  display: block;
}

:host-context(.holiday-theme) p{
  color:hotpink;
}

// :host ::ng-deep p{
//   color:hotpink;
// }

.list-group-item{
  border-left: 10px solid;
}